.image{
width: 600px;
height: 400px;
border-radius: 5px;
}
.slider{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowLeft{
    position: absolute;
    top: 50%;
    left: 150px;
    font-size: 4rem;
    z-index: 10;
    cursor: pointer;
}

.arrowRight{
    position: absolute;
    top: 50%;
    right: 150px;
    font-size: 4rem;
    z-index: 10;
    cursor: pointer;
}

@media (max-width: 600px){
    .image{
        width: 300px;
        height: 200px;
        border-radius: 5px;
        }
        .arrowLeft{
            position: absolute;
            top: 45%;
            left: 5px;
            font-size: 2.5rem;
            z-index: 10;
            cursor: pointer;
        }
        
        .arrowRight{
            position: absolute;
            top: 45%;
            right: 5px;
            font-size: 2.5rem;
            z-index: 10;
            cursor: pointer;
        }
        
}